{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="d-flex justify-content-end mb-5 me-5">
        <a href="{% url 'create_auction_item' %}" class="btn btn-outline-success">
            <i class="fas fa-plus"></i> Item
        </a>
    </div>
    {% for product in products %}
    <div class="col-md-3">
        <div class="card border-0 shadow">
            <div class="card-body">
                <img class="icard-img-top img-fluid" src="{{product.product_photo.url}}" alt="{{ product.product_name }}">
                <h4 class="mt-4 text-center">{{ product.product_name }}</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">Min Bid: {{ product.minimum_bid_price }}</li>
                    <li class="list-group-item text-secondary">End Date: {{ product.end_date }}</li>
                </ul>
                <div class="d-flex justify-content-center">
                    {% now "Y-m-d" as todays_date %}
                    {% if product.end_date|date:"Y-m-d" < todays_date %}
                    <a href="{{product.get_absolute_url}}" class="btn btn-danger btn-sm stretched-link">Expired</a>            </div>
                    {% elif product.added_by == request.user %}
                    <a href="{{product.get_absolute_url}}" class="btn btn-outline-secondary btn-sm stretched-link">View</a>            </div>
                    {% else %}
                    <a href="{{product.get_absolute_url}}" class="btn btn-outline-success btn-sm stretched-link">Bid Product</a>            </div>
                    {% endif %}
                </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}